<div class="container">
    <div>
        <form (ngSubmit)="onSearch()" class="flex">
            <mat-form-field class="margin-right-15 full-width">
                <mat-label>Search Gitub Repository</mat-label>
                <input matInput placeholder="Github Repository" value="" [(ngModel)]="searchItem" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Search </button>
        </form>

        <div class="flex">
            <div class="margin-right-15">
                Search Options: 
            </div>
            <mat-form-field class="margin-right-15">
                <mat-label>Sort By</mat-label>
                <mat-select [(ngModel)]="sortBy" (selectionChange)="onSortByChange($event.value)">
                    <mat-option value="stars">Stars</mat-option>
                    <mat-option value="forks">Forks</mat-option>
                    <mat-option value="updated">Updated Date</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Per Page</mat-label>
                  <mat-select [(ngModel)]="perPage" (selectionChange)="onPerPageChange($event.value)">
                      <mat-option value="25">25</mat-option>
                      <mat-option value="50">50</mat-option>
                      <mat-option value="75">75</mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
      </div>
      
        <div class="full-width flex justify-center" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

        <mat-card *ngFor="let repository of repositories" style="margin-top:10px;">
            <mat-card-header>
              <div mat-card-avatar class="card-header-image"></div>
              <mat-card-title>{{repository?.name}}</mat-card-title>
              <mat-card-subtitle >- {{repository?.owner?.login}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt=""> -->
            <mat-card-content>
              <p>
                {{repository?.description}}
              </p>
              <p class="float-right padding-bottom-20">
                Updated at: {{repository?.updated_at | date:'yyyy-mm-dd hh:mma'}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>
                  <mat-icon>star</mat-icon>
                  {{repository?.stargazers_count}}
                </button>
              <button mat-button>
                <mat-icon>remove_red_eye</mat-icon>
                {{repository?.watchers_count}}
            </button>
              <button mat-button>
                <mat-icon>gavel</mat-icon>
                {{repository?.forks_count}}
            </button>
            </mat-card-actions>
          </mat-card>

        <div class="flex justify-center padding-top-50" *ngIf="repositories.length > 0">
            <button mat-raised-button color="primary" (click)="previousPage()" *ngIf="page > 1">Previous </button>&nbsp;
             {{page}} of {{lastPage()}}
            &nbsp;<button mat-raised-button color="primary" (click)="nextPage()">Next </button>
        </div>
</div>