/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "custom-mixins.scss";
@include heightWidthMixin();
@include marginPaddingMixin();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-header-image {
    background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
    background-size: cover;
  }

.full-width{
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.right-align{
    text-align: right;
}

.center-text{
    text-align: center;
}

.break-word{
    word-break: break-word;
}